/* main structure and elements */

.overlay {
  display: block;
  position: fixed;
  background-color: rgb(255, 0, 0);
  width: 100vw;
  height: calc(100vh * 2);
  pointer-events: none;
  z-index: -99;
  font-size: 4rem;
  font-family: cursive;
  color: lightpink;
  padding-top: 10px;
  padding-left: 10px;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.column {
  position: relative;
  flex: 0 0 400px;
  padding: 15px 15px 30px 15px;
  display: block;
  /* isolation: isolate; */
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.column .lock-note {
  position: relative;
  color: red;
  z-index: 10;
  display: none;
}

.column[data-blocked="true"] .lock-note {
  display: block;
}

button {
  background-color: grey;
  border: none;
  cursor: pointer;
}

.toolbar {
  position: fixed;
  margin: 10px;
}

.toolbar button.is-active {
  opacity: 0.6;
}
.Add-Column {
  cursor: pointer;
}

.column[data-locked="true"] {
  color: grey;
}

.col-img {
  max-height: 100px;
  display: inline;
  mix-blend-mode: multiply;
}

/* fixes */

[contenteditable]:focus {
  outline: none;
}
.column .col-body {
  white-space: normal;
  overflow-wrap: anywhere;
  max-width: 100%;
}
.column .col-body p {
  margin: 0;
  white-space: normal;
  overflow-wrap: anywhere;
}

/* media */
@media (max-width: 400px) {
  .column {
    flex: 0 0 100vw; /* or 100% if preferred */
    max-width: 100vw;
    width: 100vw;
  }
}
